@import 'variables'
@import 'buttons'
@import 'mixins'
@import 'plugins'
@import 'functions'

.p-esp
  @include special

.esp-menor
  @include espaçamento(10px, 10px)
  @include custom-border(solid, red)
  @include colors
  @extend %font-pattern

.esp-medio
  @include espaçamento(15px, 15px)
  @include custom-border(dotted, green, 2px)
  @include colors($background: #a21)
  @extend %font-pattern

.esp-maior
  @include espaçamento(25px, 25px)
  @include custom-border(double, blue, 3px)

.fonte-pequena
  font-size: 5px
  color: text-color(5)

.fonte-grande
  font-size: 25px
  color: text-color(25)
